{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}

    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ username }}!</p>
    <hr>

    <h2>Menu</h2>
    <ul>
        <li><a href="/admin/users">Manage Users</a></li>
        <li><a href="/admin/comments">Lecturer Comments</a></li>
        <li><a href="/search">Search Lecturer</a></li>
        <li><a href="/search/course">Search Course</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

{% endblock %}