
</DOCTYPE html>
<html>
<head>
    <title>Register New User</title>

</head>
<body>
    <h1>Register New User</h1>
    <p>{{message}}</p>
    <form method="POST" action="/admin/register">
         <label>Username:</label><br>
         <input type="text" name="username"><br><br>

         <label>Temporary Password:</label><br>
         <input type="text" name="password"><br><br>

         <label>Full Name:</label><br>
         <input type="text" name="full_name"><br><br>
            
         <label>Email:</label><br>
         <input type="text" name="email"><br><br>

         <label>Role:</label><br>
         <select name="role">
         <option value="Student">Student</option>
         <option value="Lecturer">Lecturer</option>
         <option value="Admin">Admin</option>
         </select><br><br>

         <button type="submit">Register</button>
    </form>
   


</body>

</html>