{% extends "base.html" %}

{% block title %}Timetable - {{ level }}{% endblock %}

{% block content %}

    <h1>{{ level }} Timetable</h1>

    <div class="table-wrapper timetable-table-wrapper">
    <table border="1">
        <tr>
            <th>Day</th>
            {% for slot in time_slots %}
            <th>{{ slot[0][:5] }} - {{ slot[1][:5] }}</th>
            {% endfor %}
        </tr>

        {% for day in days %}
        <tr>
            <td><strong>{{ day }}</strong></td>
            {% for slot in time_slots %}
            <td>
                {% set class_row = grid[(day, slot)] %}
                {% if class_row %}
                    <strong>{{ class_row[0] }}</strong>
                    {% if class_row[1] == "Practical" %}(P){% endif %}<br>
                    {% if class_row[5] %}V: {{ class_row[5] }}<br>{% endif %}
                    {% if class_row[6] %}{{ class_row[7] }}: {{ class_row[6] }}{% endif %}
                {% else %}
                    -
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}
