<!DOCTYPE html>
<html>
<head>
    <title>Manage Users</title>
</head>

<body>
    <h1>Manage Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Role</th>
            <th>Email</th>
        </tr>

        {% for user in all_users %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
        </tr>
        {% endfor %}
    </table>

    <br>
    <a href="/admin">Back to ADmin Dashboard</a>



</body>
</html>
